form {
  display: inline-block;
  margin-right: 20px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input[type="file"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  width: 180px;
  display: inline-block;
}

a.link-normal {
  text-decoration: none;
  color: black;
}








/* Estilo para el botón */
.btn-outline-secondary {
  border: 2px solid #444444;
  color: #444444;
  padding: 8px 16px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.btn-outline-secondary:hover {
  color: #fff;
  border-color: #fff;
}

.btn-outline-secondary::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.9);
  z-index: -1;
}

.btn-outline-secondary:hover::before {
  width: 200%;
  height: 200%;
}

.btn-outline-secondary:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.btn-outline-secondary {
  border-radius: 20px;
  margin-left: 10px;
  font-size: 14px;
  border: 1px solid #ced4da;
  outline: none;
}


/* Estilo para el buscador */


  .small-search-form {
    position: relative;
  }
  
  .small-search-form .input-group {
    transition: all 0.3s ease-out;
  }
  
  .small-search-form .form-control {
    transition: all 0.3s ease-out;
  }
  
  .small-search-form .btn {
    position: relative;
    transition: all 0.3s ease-out;
  }
  
  .small-search-form:hover .input-group {
    transform: scale(1.1);
  }
  
  .small-search-form:hover .form-control {
    border-color: #555;
  }
  
  .small-search-form:hover .btn {
    background-color: #555;
    border-color: #555;
    color: #fff;
  }
  
  .small-search-form .form-control:focus {
    box-shadow: none;
    border-color: #555;
    outline: none;
  }
  
  .small-search-form .btn:focus {
    outline: none;
  }
  
  .small-search-form .btn:active:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(85, 85, 85, 0.5);
    animation: pulse 0.5s ease-out;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.5);
      opacity: 0.5;
    }
    to {
      transform: scale(1.5);
      opacity: 0;
    }
  }


  .my-custom-style {
    background-color: #000;
    color: #fff;
    font-weight: bold;
  }


  .my-custom-style {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    animation: highlight 1s infinite;
  }
  @keyframes highlight {
    0% { background-color: #ff0000; }
    50% { background-color: rgb(255, 16, 16); }
    100% { background-color: #ff0000; }
  }